.WeatherForecast {
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    color: white;
}

.single,
.labels {
    width: 100%;
    background-color: rgba(0, 128, 0, 0.514);
}

.single:nth-child(even) {
    background-color: rgba(255, 136, 0, 0.575);
}

.single {
    display: grid;
    grid-auto-rows: minmax(80px, auto);
    grid-template-rows: repeat(9, 1fr);
    align-content: flex-end;
}

.single>div {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}

.today {
    font-weight: bold;
    color: rgba(0, 0, 0, 0.603);
}

.date {
    font-size: 22px;
    background-color: rgba(66, 66, 66, 0.178);
}

.period:nth-child(odd) {
    background-color: rgba(66, 66, 66, 0.178);
}

.period>.time {
    display: none;
}

@media (max-width: 700px) {
    .WeatherForecast {
        flex-direction: column;
    }
    .labels {
        display: none;
    }
    .single {
        margin-bottom: 15px;
        grid-template-rows: initial;
        box-shadow: 3px 3px 5px 6px #ccc;
    }
    .single>div,
    .single>div:last-child {
        border: none;
    }
    .period>.time {
        display: block;
        color: #0000008c;
        padding-bottom: 5px;
        font-weight: bold;
    }
    .today>.period {
        grid-row: initial !important;
    }
}